*.DS_Store
options.js
fonts.js
shapes.js

static/fonts/*
static/fonts/_threejs/*.json
!static/fonts/_fonts.txt
static/js/src/custom/*
!static/js/src/custom/*-sample.*
static/js/custom/*
!static/js/custom/*-sample.*
webpack.config.js
config.php
.htaccess
static/js/dist/main.js
static/js/package-lock.json
static/js/node_modules
*.js.LICENSE.txt
