:root {
    --flex-item-margin: 1.5px;
}
* {
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 14px;
}
body {
    font-family: Helvetica, sans-serif;
    background-color: #000;
    color: #fff;
    font-size: 1rem;
    line-height: 1;
}
main {
    padding: 20px;
    width: 100%;
}
textarea {
    resize: none;
    display: block;
    border: 1px solid;
    width: 100%;
    /* border-left: 1px solid; */
    /* border-right: 1px solid; */
}
canvas {
    display: block;
    min-height: 200px;
}
canvas + canvas {
    margin-top: 60px;
}
*:focus,
.pseudo-focused {
    outline: 1px solid #fff;
    outline-offset: -2px;
    /* box-sizing: content-box; */
    /* border: 1px solid #fff; */
}
/* option {
    position: relative;
}
option:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: blue;
    right: 5px;
    top: 5px;
} */
.color-option {
    display: inline-block;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

.selected-option {
    border: 1px solid #000;
    position: relative;
}
.selected-option[value='null']:before,
.selected-option[value='null']:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 141.4%;
    border-top: 1px solid #000;
    transform-origin: center;
    
}
.selected-option[value='null']:before {
    transform: translate(-50%, -50%) rotate(-45deg);
}
.selected-option[value='null']:after {
    transform: translate(-50%, -50%) rotate(45deg);
}
.color-options-wrapper {
    position: absolute;
    width: 150px;
    /* display: flex; */
    flex-wrap: wrap;
    display: none;
    z-index: 100;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    box-sizing: content-box;
}
.pseudo-select.expanded .color-options-wrapper {
    display: flex;
}
.btn, a.btn, .dummy-btn{
    -webkit-appearance: none;
    appearance: none;
    border: 4px solid;
    background-color: transparent;
    color: #fff;
    font-size: 17px;
    line-height: 21px;
    border-radius: 10px;
    cursor: pointer;
}
.btn {
    /* padding: 8px 10px;
    border: 2px solid #000;
    cursor: pointer; */
    width: 270px;
    height: 90px;
}
.btn:hover
{
    color: #000;
    background-color: #fff;
    border-color: #fff;
}
.square-btn {
    /* font-size: 2em; */
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0.9;
    width: 30px;
    height: 30px;
    /* display: inline-block; */
}
.hidden {
    display: none;
}
.generator-container {
    margin-left: 500px;
    width: calc(100% - 500px);
    max-height: 100vh;
}
.control-panel {
    /* flex: 0 0 300px; */
    width: 500px;
    padding-right: 20px;
    padding-bottom: 90px;
    max-height: 100vh;
    overflow: scroll;;
    /* position: sticky; */
    position: fixed;
    top: 20px;
    left: 20px;
    /* margin-top: calc)var(--flex-item-margin); */
}
#logo-container {
    display: none;
}
input,
input[type="text"],
select,
.pseudo-upload,
textarea
{
    /* float: right; */
    height: 30px;
    font-size: 14px;
    padding: 3px 10px 3px 10px;
    width: 100%;
    display: block;
    border: none;
    color: #FFF;
    background-color: #666060;
    /* clear: both; */
}
.pseudo-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
select
{        
    appearance: none;
    border-radius: 0;
    position: relative;
    background: url(../../media/svg/v-9-k.svg) 98% / 24px no-repeat #FFF;        
    background-color: #666060;
}
textarea
{
    height: initial;
    border: none;
    margin: 0;
}
.typography-control textarea {
    flex: 0 0 100%;
}
label
{
    cursor: pointer;
    font-size: 1.21rem;
    vertical-align: top;
}
textarea + select
{
    margin-top: 3px;
}
#panel,
.control-panel
{
    display: inline-block;
    vertical-align: top;
    padding-right: 20px;
}
.common-control
{
    font-size: 16px;
    width: 500px;
    padding-right: 20px;
}
.half-right {
    width: 50%;
    float: right;
}
.half-right.flex-container {
    width: calc(50% + var(--flex-item-margin) * 2);
    position: relative;
    left: var(--flex-item-margin);
}
.clear-float {
    clear: both;
}
.waiting-for-format #panel-format .panel-section:after
{
    content: none;
}
#main{
    padding: 20px;
    padding-bottom: 80px;
}
.background-image-section {
    display: none;
    margin-bottom: 0;
}
.viewing-background-upload + .background-image-section {
    display: block;
}
/* #content
{
    max-width: none;
    padding: 0;
    text-align: left;
    display: inline-block;
} */
/* .body
{
    font-size: 1rem;
} */

.org-main-canvas
{
    display: block;
}
/* #main[format="post"] [data-is-three="false"] canvas,
#main[format="post"] [data-is-three="true"] canvas
{
    height: 540px;
}
#main[format="story"] [data-is-three="false"] canvas,
#main[format="story"] [data-is-three="true"] canvas
{
    height: 960px;
} */
#main[data-canvas-status="initializing"] .org-main-canvas {
    position: absolute;
    display: block;
}
[data-is-three='true']
{
    display: none;
}
.viewing-three [data-is-three='true']
{
    display: block;
}
.viewing-three [data-is-three='false']
{
    display: none;
}
.watermarks-container {
    /* margin: 0 1.5px; */
}
.panel-section,
.watermarks-container
{
    margin-bottom: calc(8px - 2 * var(--flex-item-margin));
}    
.field-id-image-controls
{
    /* display: none; */
    margin: 1.5px 0;
}
.viewing-image-control .field-id-image-controls {
    /* display: block; */
}
input[type="file"]
{
    display: none;
}
.pseudo-label
{
    display: inline-block;
}
input[type="file"] + label
{
    cursor: pointer;
    padding-top: 4px;
    text-align: center;
}
input[type="file"] + label:hover
{
    background-color: #ccc;
}
/*#stop,
body.recording #record,
body.recording #record + div
{
    display: none;
}*/
.download-button:before {
    content: '';
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-image: url('../../media/svg/arrow-down-12-white.svg');
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: middle;
}
.download-button:hover:before {
    background-image: url('../../media/svg/arrow-down-12-black.svg');
}
.download-button span {
    display: inline-block;
    vertical-align: middle;
}
body.recording .download-video-button
{
/*        display: inline-block;*/
    background-color: red;
    color: #fff;
}

.float-container:after
{
    content: "";
    display: block;
    clear: both;
    height: 0;
}


#action-container,
.action-container
{
    margin-top: 20px;
}
.square-wrapper
{
    padding: 0;
}
#canvas-container,
.canvas-container
{
    display: inline-block;
}

.three-control
{
    display: none;
}
.viewing-three .three-control
{
    display: block;
}
.viewing-three .hidden-from-three
{
    display: none;
}
.flex-container
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
}
.flex-container > .watermark
{
    flex-basis: 100%;
}
.typography-control
{
    /* width: 240px;
    float: right; */
    flex-wrap: wrap;
}
/* .typography-control > select {
    margin-right: 3px;
}
.typography-control > select:last-child {
    margin-right: 0px;
} */
.input-section * + * {
    margin-top: 3px;
}
.flex-item
{
    float: none;
    margin: var(--flex-item-margin);
}
.flex-item[flex='full'] {
    flex: 0 0 calc(100% - var(--flex-item-margin) * 2 );
    
}
.flex-item[flex='half'],
.flex-item[flex='one-third'] {
    font-size: 0.72rem;
    /* margin: var(--flex-item-margin); */
}
.flex-item[flex='half'] {
    /* flex: 0 0 calc(50% - var(--flex-item-margin)); */
    flex: 0 0 calc(50% - var(--flex-item-margin) * 2 );
    /* flex: 0 0 50%; */
}
.flex-item[flex='one-third'] {
    /* flex: 0 0 calc((100% - 4 * var(--flex-item-margin)) / 3); */
    flex: 0 0 calc(33.3% - var(--flex-item-margin) * 2 )
}
/* .flex-item[flex='one-third']:nth-child(3n+1),
.flex-item[flex='half']:nth-child(2n+1) {
    margin-left: 0;
}
.flex-item[flex='one-third']:nth-child(3n+3),
.flex-item[flex='half']:nth-child(2n+2) {
    margin-right: 0;
} */
.flex-item[flex='0.5'] {
    flex: 0.5;
}
.flex-item[flex='1'] {
    flex: 1;
}
.flex-item[flex='2'] {
    flex: 2;
}
.flex-item[flex='3'] {
    flex: 3;
}
.flex-item[flex='7'] {
    flex: 7;
}
.flex-item:last-child
{
    /* margin-right: 0; */
}
.typography-flex-item
{
    /* flex: 1; */
}
.btn-add-watermark,
.button-like-label,
.btn-add
{
    cursor: pointer;
    text-align: center;
    padding: 8px 0 8px 0;
    background-color: #666060;
    font-size: 14px;
}
.btn-add-watermark {
    margin-top: 6.5px;
}
.button-like-label
{
    display: block;
    width: 100%;
    margin-top: 0;
    cursor: pointer;
}
.button-like-label:hover
{
    /* background-color: #ccc;
    color: #000;*/
}
.btn-remove-watermark
{
    display: inline-block;
    font-size: 16px;
}
input#restart-animation
{
    cursor:pointer;
}
label[for^='watermark'],
label[for^='media']
{
    position: relative;
    display: inline-block;
    padding-right: 10px;
    margin-left: 8px;
}
label[for^='watermark'].not-supported:after
{
    content: "this position is not compatible to this shape.";
    display: block;
    position: absolute;
    bottom: 0;
    transform: translate(0, 100%);
    left: 0;
    font-size: 14px;
    line-height: 16px;
    color: #ff0;
    width: calc(100% - 10px);
}
label:not(.pseudo-upload), .pseudo-label {
    padding-top:5px;
    float: left;
}
#btn-confirm-format,
#btn-change-format
{
    /* display: inline-block;*/
    width: 540px;
    background-color: #666060;
    -webkit-appearance: none;
    appearance: none;
    font-size: 14px;
    color: #FFF;
    border: none;
    margin: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    cursor: pointer;
    flex: 1;
    margin-bottom: calc(8px - 2 * var(--flex-item-margin));
    margin-left: 3px;
}
.waiting-for-format #btn-change-format,
#btn-confirm-format
{
    display: none;
}
.waiting-for-format #btn-confirm-format
{
    display: inline-block;
}
.control-panel,
#canvas-container,
#action-container
{
    transition: opacity .25s;
}
.waiting-for-format .control-panel,
.waiting-for-format #canvas-container,
.waiting-for-format #action-container
{
    height: 0;
    overflow: hidden;
    pointer-events: none;
    opacity: 0;
}
#panel-second-shape,
.waiting-for-format #panel-animation
{
    display: none;
}
#main[format="story"] #panel-second-shape
{
    display: block;
}
input[type="checkbox"]
{
    display: none;
}
input[type="checkbox"] + label.button-like-label:before
{
    content: none;
}
.viewing-three label[for="activateAnimation"].button-like-label
{
    background-color: #ccc;
    color: #000;
}
input[value="fetch"]
{
    cursor: pointer;
    margin-top: 2px;
}
.common-control-bottom {
    margin-top: 20px;
}
.buttons-container
{
    --flex-gap: 10px;
    display: flex;
    /* flex-direction: column; */
    position: relative;
    width: calc(100% + var(--flex-gap));
    top: calc(-1 * var(--flex-gap) / 2);
    left: calc(-1 * var(--flex-gap) / 2);
}
.buttons-container .btn {
    margin: calc( var(--flex-gap) / 2 );
}
#custom-size-wrapper {
    display: none;
}
[format="custom"] #custom-size-wrapper {
    display: block;
}
[format="custom"] #custom-size-wrapper.flex-container {
    display: flex;
}
#record-form {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 480px;
}
.record-form-button,
.record-form-button[flex] {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border: 2px solid #000;
}
/* .record-form-button.half-right {
    margin-left: 3px;
} */
.record-form-button .inline-icon{
    width: 16px;
    margin-left: 0.5em;
}
#custom-width-input {
    margin-right: calc( var(--flex-item-margin) * 2 );
}
#custom-height-input {
    margin-left: calc( var(--flex-item-margin) * 2 );
}
.delete-button,
.delete-button.btn  {
    float: left;
    width: 30px;
    height: 30px;
    border-width: 3px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    position: relative;
}
.delete-button:before,
.delete-button:after {
    content: '';
    position: absolute;
    width: 80%;
    /* height: 3px; */
    color: inherit;
    border-top: 3px solid;
    top: 50%;
    left: 50%;
    
}
.delete-button:before {
    transform: translate(-50%, -50%) rotate(-45deg);
}
.delete-button:after {
    transform: translate(-50%, -50%) rotate(45deg);
}

.pdf-size-popup {
    
    /* position: fixed; */
    /* z-index: 1000; */
    /* width: 500px; */
    /* max-width: calc(100% - 40px); */
    /* margin: 0 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
    background-color: #000;
    /* padding: 20px; */
}
.pdf-size-popup[data-hidden="1"] {
    height: 0;
    opacity: 0;
    pointer-events: none;
}
.pdf-size-popup[data-hidden="0"] {
    height: auto;
    opacity: 1;
    pointer-events: auto;
    /* transition: opacity .5s; */
}
.pdf-size-popup > *+* {
    margin-top: 10px;
}
.pdf-size-popup > .flex-container {
    width: calc(100% + calc(var(--flex-item-margin) * 2));
    position: relative;
    left: calc(-1 * var(--flex-item-margin));
}
@media screen and (max-width: 1080px)
{
    #content
    {
        width: 540px;
    }
    .control-panel,
    #panel-format,
    .common-control
    {
        width: 100%;
        padding-right: 0;
    }
    .control-panel {
        position: static;
        width: 540px;
        max-height: none;
    }
    .generator-container {
        margin-left: 0;
        width: auto;
        max-height: none;
    }
    .buttons-container {
        flex-direction: row;
    }
}
@media screen and (max-width: 823px)
{
    .box.home-block
    {
        margin: 0;
    }
    .panel-section input[type="checkbox"] + label
    {
        margin-left: 0;
        text-indent: 0;
    }
}
@media screen and (max-width: 500px)
{
    #content
    {
        width: 100%;
        margin-top: 0;
    }
    .control-panel,
    #panel-format,
    .panel
    {
        width: auto;
        display: block;
        font-size: 16px;
    }
    label,
    .pseudo-label
    {
        display: block;
    }
    input[type="number"]
    {
        width: 110px;
    }
    select,
    input[type="number"],
    input[name="record"],
    input[type="submit"],
    textarea,
    input[type="file"] + label
    {
        font-size: 16px;
        float: left;
        margin-top: calc(8px - 2 * var(--flex-item-margin));
        width: 100%;
        border: none;
        background-color: #666060;
    }
    .typography-control
    {
        width: 100%;
    }
    input[type="file"] + label
    {
        display: inline-block;
    }
    .panel-section,
    .watermarks-container
    {
        margin-bottom: 15px;
    }
    .org-main-canvas
    {
        position: absolute;
        /* transform-origin: left top; */
        /* width: 100% !important; */
        /* height: 100% !important; */
        /* top: 0;
        left: 0; */
        /*margin-top: 10px;*/
    }
    #action-container,
    .action-container
    {
        margin-top: 30px;
    }
    .btn
    {
        width: 100%;
    }
    textarea
    {
        width: 100%;
    }
    #main[format="post"] #canvas-static-wrapper,
    #main[format="post"] #canvas-animated-wrapper
    {
        padding-bottom: 0;
        padding-top: 100%;
    }
    #main[format="story"] #canvas-static-wrapper,
    #main[format="story"] #canvas-animated-wrapper
    {
        padding-bottom: 0;
        padding-top: 177.8%;
    }
    #main[format="post"] #canvas-static,
    #main[format="post"] #canvas-three,
    #main[format="story"] #canvas-static,
    #main[format="story"] #canvas-three
    {
        height: 100%;
    }
    #canvas-container,
    .canvas-container
    {
        display: block;
        position: relative;
    }
    .common-control
    {
        width: auto;
        padding-right: 0;
    }
}